@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Space Grotesk", sans-serif;
  
}

.active{
position: relative;
overflow: hidden;
}
.active::before{
 content: '';
 background-image: conic-gradient(#ff000000 ,#8636ff 50deg ,#8636ff , #00000000 120deg);
 width: 100%;
 height: 1000%;
 position: absolute;
 animation: active-route-animation 5s linear infinite ;
}

@keyframes active-route-animation{
0%{
transform: rotate(0deg);
}

100%{
transform: rotate(-360deg);
}
}

.explore-btn{
overflow: hidden;
position: relative;
}
.explore-btn::before {
content: '';
background-image: linear-gradient(to right, #00000000,#00000000, #8636ff , #00000000,#00000000);
 width: 150%;
 height: 95%;
 position: absolute;
 bottom: 0;
}

.skill{
 overflow: hidden;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}
.skill::before{
content: '';
height: 50%;
width: 150%;
position: absolute;


animation: skill-anim 15s linear infinite;
}
@keyframes skill-anim{
0%{
transform: rotate(0deg);
}
100%{
transform: rotate(-360deg);
}
}

.gradient-text{
@apply bg-gradient-bg w-max bg-clip-text text-transparent
}

.userLogo {
  animation: animate-img 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate-img {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 40% 70%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.banner-list{
@apply bg-gradient-bg rounded-full hover:scale-110 duration-150 hover:-translate-y-2 p-[1px] md:p-[2px]
}
.banner-list-a{
@apply bg-primary hover:text-base-300 text-xl md:text-3xl  duration-200 rounded-full p-[2px] md:p-1
}